.MapaCarreira{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.div-edit{
    padding: 9px;
}

.btn-edit-mapa{
    border: none;
    background: #0079FF;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    font-size: 15px;
    transition: .2s;
}

.btn-edit-mapa:hover{
    background: #0058bb;
    cursor: pointer;
    transition: .2s;
}

.MapaCarreira .timeline-scroll{
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-width: 1200px;
    padding: 9px;
    gap: 7px;
}

.MapaCarreira .timeline-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    overflow-x: auto;
    gap: 10px;
}

.MapaCarreira .div-prev, .MapaCarreira .div-next{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MapaCarreira .div-prev button, .MapaCarreira .div-next button{
    width: 40px;
    height: 40px;
    background: transparent;
    color: white;
    border: none;
    transition: .2s;
    font-size: 35px;
}

.MapaCarreira .div-prev button:hover, .MapaCarreira .div-next button:hover{
    cursor: pointer;
    color: #ff00ff;
    transition: .2s;
}

.MapaCarreira .timeline{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 1000px;
    background: white;
    border-radius: 20px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
}

.MapaCarreira .timeline-goal{
    color: white;
    font-size: 20px;
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    height: 80%;
}

.MapaCarreira .timeline-icon.in-progress .div-year span{
    font-size: 17px;
    font-weight: 600;
}

.MapaCarreira .timeline-goal.achieved i, .MapaCarreira .timeline-goal.not-achieved i, .MapaCarreira .timeline-goal.in-progress i{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    background: linear-gradient(90deg, #3ABDF0, #703CFA, #E3428A);
    border-radius: 50%;
}

.MapaCarreira .timeline-goal.in-progress i{
    font-size: 14px;
}

.MapaCarreira .timeline-goal.not-achieved i{
    font-size: 14px;
}

.MapaCarreira .timeline-goal.final-goal{
    background: linear-gradient(90deg, #3ABDF0, #703CFA, #E3428A);
    border-radius: 25px;
    font-size: 17px;
    font-weight: 700;
}

.MapaCarreira .selected, .MapaCarreira .timeline-goal:hover{
    cursor: pointer;
    background: linear-gradient(90deg, #3ABDF0, #703CFA, #E3428A);
    color: white;
    font-size: 18px;
    border-radius: 25px;
}

.MapaCarreira .selected i, .MapaCarreira .timeline-goal:hover i{
    cursor: pointer;
    background: none !important;
}

.MapaCarreira .education-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 1000px;
}

.MapaCarreira .timeline-icon{
    width: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.MapaCarreira .div-icon{
    width: 70%;
}

.MapaCarreira .timeline-icon.final-goal i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    background: linear-gradient(90deg, #3ABDF0, #703CFA, #E3428A);
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.MapaCarreira .current-goal{

}

@media (max-width: 767.98px) {
    .MapaCarreira .div-prev button, .MapaCarreira .div-next button{
        width: 30px;
        height: 30px;
        font-size: 25px;
    }
}

@media (min-width: 1145px) {
    .MapaCarreira .timeline-container{
        width: 100%;
    }

    .MapaCarreira .div-prev, .MapaCarreira .div-next{
        display: none;
    }

    .MapaCarreira .timeline{
        width: 100%;
    }
    .MapaCarreira .education-icons{
        width: 100%;
    }
}