.logoCadastro {
    align-self: baseline;
    margin-top: 20px;
    margin-left: 20px;
}

.Cadastro {
    height: 100vh;
    background: url("../../media/backgrounds/background-01.svg");
    background-size: cover;
}

.Cadastro .cadastro-background{
    position: fixed;
    height: 100%;
    width: 100%;
    background: url("../../media/backgrounds/background-01.svg");
    background-size: cover;
}

.Cadastro .Cards {
    display: flex;
    flex-direction: column;
}

.Cadastro .title_card {
    margin-top: 10px;
    text-align: center;
    color: #0C1330;
    font-weight: bold;
    margin-bottom: 4px;
}

/*.Cadastro .foguetin {
    align-self: flex-end;

}

.Cadastro .foguete2 {
    width: 100%;
    display: flex;
    height: 100%;
    z-index: 1;
    position: fixed;
    margin-left: 270px;
}*/

.Cadastro .entrar {
    margin-top: 40px;
    font-size: 14px;
    margin-right: 350px;
    color: white;
    background: #101017;
    outline: 0;
    border: solid 2px #d92588;
    width: 140px;
    height: 40px;
    border-radius: 40px;
}

.Cadastro .logo {
    margin-top: 30px;
    margin-right: 550px;
}

.Cadastro .voltar {
    color: #d92588;
    text-decoration: none;
}

.Cadastro .container_cad {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 15px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.01);
    border: 1px solid rgba(255, 255, 255, 0.01);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    background: rgba(10, 10, 10, .6);
    backdrop-filter: saturate(180%) blur(20px);
}

.Cadastro .text_card {
    color: rgba(222, 222, 222, 0.726);
    font-size: 14px;
    padding: 4px;
    text-align: center;
}

@property --myColor1 {
    syntax: '<color>';
    initial-value: #C82796;
    inherits: false;
}

@property --myColor2 {
    syntax: '<color>';
    initial-value: #892ECA;
    inherits: false;
}

.continue-cad-btn {
    border: none;
    background: linear-gradient(to right, var(--myColor1), var(--myColor2));
    transition: --myColor1 .3s, --myColor2 .3s;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 600;
    color: white;
    width: 200px;
}

.continue-cad-btn:hover {
    cursor: pointer;
    --myColor1: #7630d9;
    --myColor2: #d92588;
}

.Cadastro .msg_erro {
    display: none;
}

.Cadastro .msg_erro.hide {
    display: none;
}

.Cadastro .msg_erro.show {
    display: flex;
}

.Cadastro .cad_msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
    font-size: 14px;
}

.Cadastro .btn-return {
    color: #D92588;
    font-size: 16px;
    font-weight: 600;
}

.Cadastro .btn-return i {
    font-size: 15px;
    color: #D92588;
}

.Cadastro .btn-return:hover {
    text-decoration: underline;
}

.Cadastro .return-previous-step {
    align-self: flex-start;
}

.boxCadastro h3 {
    color: green;
}

.boxCadastro p {
    color: #3D3D3D;
    font-size: 0.9em;
}

.boxCadastro .btn-redirect-login {
    border: none;
    padding: 10px 20px;
    font-weight: 600;
    background: #d92588;
    color: white;
    border-radius: 8px;
    transition: background .2s;
    font-size: 14px;
    text-decoration: none;
}

.boxCadastro .btn-redirect-login:hover {
    cursor: pointer;
    background: #ab1e6c;
    transition: background .2s;
}

@media (max-width: 575.98px) {
    .stepper-box {
        display: none;
    }
}