.Login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../media/backgrounds/background-login.png");
    background-size: cover;
}

.Login .principal_box {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-items: center;

    width: 500px;
    height: 600px;
    flex-wrap: nowrap;
    border-radius: 15px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.01);
    box-shadow: 0 0 5px black;
    background: rgba(10, 10, 10, 0.5);
    backdrop-filter: saturate(150%) blur(10px);
}

.Login .voltar {
    text-decoration: none;
    font-size: 13px;
    color: #D92588;
    font-weight: 700;
}

.Login .voltar:hover {
    color: #e03c96;
}


.Login .voltar-div {
    align-self: end;
}

.Login .logo_apadrinheme {
    height: 50px;
}

.Login .logo_box {
    height: 200px;
}

.Login .logo {
    width: 140px;
    height: 240px;
    display: flex;
    align-content: center;
    justify-content: center;
}



.Login .logoescrito {
    width: 200px;
}

.Login .user_input {
    padding: 0px 15px;
    color: white;
    outline: 0;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 0;
    border-radius: 15px;
    width: 350px;
    height: 50px;
}

.Login .user_input:focus {
    box-shadow: 0 0 15px #d92588dc;
    outline: 1px solid #ff4dafdc;
}

.Login .password_input {
    padding: 0px 15px;
    color: white;
    outline: 0;
    font-size: 15px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 0;
    border-radius: 15px;
    width: 350px;
    height: 50px;
}

.Login .password_input:focus {
    box-shadow: 0 0 15px #d92588dc;
    outline: 1px solid #ff4dafdc;
}

.Login .p1 {
    font-size: 13px;
    color: #D92588;
    width: 300px;
    margin-top: 6px;
    cursor: pointer;
    font-weight: 700;
}

.Login .p1:hover {
    color: #e03c96;
}

.Login .p2 {
    margin-top: 7px;
    font-size: 13px;
    color: white;
}

.Login .p2 a {
    color: #D92588;
    text-decoration: none;
    font-weight: 700;
}

.Login .p2 a:hover {
    color: #e03c96;
}

.Login button {
    cursor: pointer;
    margin-top: 30px;
    font-size: 15px;
    color: white;
    outline: 0;
    border: none;
    background-color: #d92588;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    margin-bottom: 10px;
    transition: 0.2s;
}

.Login button:hover {
    background-color: #a31c66;
    transition: 0.2s;
}

.Login .msg_erro {
    display: none;
    margin-top: 15px;
}

.Login .msg_erro.show {
    display: flex;
}