.Login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../media/backgrounds/background-login.png");
    background-size: cover;
}

.Login .principal_box {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-items: center;

    width: 500px;
    height: 560px;
    flex-wrap: wrap;
    border-radius: 7px;
    padding: 15px;

    border: 1px solid #AC2AAD;
    background: rgba(10, 10, 10, 0.5);
    backdrop-filter: saturate(180%) blur(120px);
}

.Login .voltar {
    text-decoration: none;
    font-size: 13px;
    color: #D92588;
    font-weight: 700;
}

.Login .voltar:hover{
    color: #e03c96;
}


.Login .voltar-div{
    align-self: end;
}

.Login .logo_apadrinheme {
    height: 50px;
}

.Login .logo_box {
    height: 200px;
}

.Login .logo {
    filter: drop-shadow(0 0 15px black);
    width: 140px;
    height: 240px;
    display: flex;
    align-content: center;
    justify-content: center;
}



.Login .logoescrito {
    width: 120px;
    height: 27px;
}

.Login .user_input {
    padding: 0px 15px;
    color: white;
    outline: 0;
    font-size: 15px;
    background-color: #050a19;
    border: 1.6px solid #D92588;
    border-radius: 15px;
    width: 300px;
    height: 34px;
}

.Login .password_input {
    padding: 0px 15px;
    color: white;
    outline: 0;
    font-size: 15px;
    margin-top: 10px;
    background-color: #050a19;
    border: 1.6px solid #D92588;
    border-radius: 15px;
    width: 300px;
    height: 34px;
}

.Login .p1 {
    font-size: 13px;
    color: #D92588;
    width: 300px;
    margin-top: 6px;
    cursor: pointer;
    font-weight: 700;
}

.Login .p1:hover{
    color: #e03c96;
}

.Login .p2 {
    margin-top: 7px;
    font-size: 13px;
    color: white;
}

.Login .p2 a {
    color: #D92588;
    text-decoration: none;
    font-weight: 700;
}

.Login .p2 a:hover{
    color: #e03c96;
}

.Login button {
    cursor: pointer;
    margin-top: 30px;
    box-shadow: 0 0 20px black;
    font-size: 12px;
    color: white;
    outline: 0;
    border: none;
    background-color: #D92588;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    margin-bottom: 10px;
}