.buttonUsuarioInteracaoSolicitacao {
    text-align: center;
    padding: 10px 25px;
    margin: auto 5px;
    border-style: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}

.azul {
    background-color: #0079FF;
}

.vermelho {
    background-color: #643232;
}