.cardUsuarioInteracao span {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    margin: 0 10px;
}

.buttonUsuarioInteracao {
    
    padding: 10px 50px;
    border-radius: 100px;
    cursor: pointer;
    border-style: none;
    background-color: #323232;
    color: #fff;
    font-weight: 500;
}

.buttonsCardUsuarioInteracao { 
    display: flex;
    gap: 10px;
}

.CardUsusarioInteracaoIcons {
    background-color: #4B324B;
    border-radius: 100%;
    padding: 15px 17px;
    border-style: none;
    cursor: pointer;
    
}