.SpotlightCourse {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background: #667bf210;
    border-radius: 15px;
    box-shadow: 0 0 5px #667bf2;
    flex-basis: 180px;
    color: white;
    text-decoration: none;
}

.SpotlightCourse .course-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.SpotlightCourse .course-info,
.SpotlightCourse .course-redirect {
    padding: 7px;
    display: flex;
}

.SpotlightCourse .course-info {
    flex-direction: column;
}

.SpotlightCourse .course-title {
    word-break: break-word;
    font-size: 15px;
    color: white;
}

.course-distributor {
    font-size: 13px;
    word-break: break-word;
}

.course-redirect a {
    text-decoration: none;
}

.course-redirect a button {
    width: 160px;
}