.SpotlightProfile {
    display: flex;
    flex-direction: row;
    background: #667bf210;
    border-radius: 15px;
    box-shadow: 0 0 5px #667bf290;
    padding: 10px;
    gap: 17px;
    align-items: center;
    color: white;
    text-decoration: none;
}

.SpotlightProfile:hover {
    cursor: pointer;
    background: #363b4f;
}

.SpotlightProfile .profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.SpotlightProfile .name {
    font-weight: 600;
}

.SpotlightProfile .description {
    font-size: 13px;
    gap: 10px;
}