.cardUsuarioInteracao {
    max-width: 250px;
    border: blue;
  
}

.avatarUsuario {
    background-color: #E5E6EB;
    color: #282828;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.backgroundBlack {
    background-color: #191919;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px 0;
}

.cardUsuarioInteracao h2 {
    text-align: center;
    padding: 5px 0;
}

.cardUsuarioInteracao span {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    margin: 0 10px;

}

.buttonUsuarioInteracao {
    padding: 10px 50px;
    border-radius: 100px;
    border-style: none;
    background-color: #323232;
    color: #fff;
    font-weight: 500;
}

.CardUsusarioInteracaoIcons {
    background-color: #4B324B;
    border-radius: 100%;
    padding: 15px 17px;
}