.Contato_info{
    display: flex;
    gap: 10px;
    border-radius: 8px;
    background: linear-gradient(to right, #232323, #0A0A0A);
    padding: 8px;
}

.info-picture{
    flex: 1;
}

.info-profile{
    flex: 4;
    display: flex;
    flex-direction: column;
}

.info-options{
    flex: 1;
    margin-left: auto;
}