.Cadastro .Cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
}


.estilo1 {
    order: 1;
    height: 600px;
}

.estilo2 {
    order: 4;
    height: 600px;
}

.Cadastro .cardPadrinho {
    order: 2;
    border-radius: 8px;
    background-color: rgb(160, 204, 242);
    width: 250px;
    height: 300px;
}

.Cadastro .cardAfiliado {
    order: 3;
    border-radius: 8px;
    background-color: rgb(18, 44, 67);
    width: 250px;
    height: 300px;
}