.cardestrutura {
 background-color: #282828;
 border-radius: 20px;
 margin: 0 10px;
}

.Conexoes {
    margin: 0 auto;
    max-width: 800px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.507);
}

.Conexoes ul {
    display: flex;
    margin: 10px 10px;
    justify-content: space-between;
}

.navegacaoConexoes {
    display: flex;
    flex-wrap: wrap;
}

.navegacaoConexoes li {
    list-style-type: none;
    text-align: center;
}

.navegacaoConexoes li button {
    flex: 1;
    width: 200px;
    min-width: 100px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #191919;
    border-style: none;
    color: #fff;
    font-weight: 600;
    margin: 10px 0 ;
}

.cardInteracaoUsuarios {
    display: flex;
    gap: 20px;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
}