.Cursos {
    display: flex;
    background: #101015;
    gap: 10px;
    height: 90.80vh;
}

.separador2 {
    background-color: #fff;
    content: "";
    height: 1px;
    width: 100px;
    width: 100%;
    margin: 10px 0
}

.h2Filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caixaFilter {
    background-color: #e5e6eb96;
    padding: 10px 30px;
    border-radius: 20px;

    color: rgba(0, 0, 0, 0.692);
    font-style: normal;
    transition: 0.2s;
}

.caixaFilter:hover {
    background-color: #e5e6ebcb;
    transition: 0.2s;
    cursor: pointer;
}

.caixaIconeCategoriasCurso {
    color: #000;
    background-color: #E5E6EB;
    margin-right: 10px;
    padding: 8px;
    border-radius: 100px;
    transition: 0.2s;

}

.caixaIconeCategoriasCurso:hover {
    background-color: #FF00FF;
    color: #fff;
    transition: 0.2s;
}

.categoriasCurso {
    overflow-y: auto;
    background: #03050D;
    border: 1px solid #292C35;
    padding: 10px 10px;
    height: calc(100vh - 97.5px);
    border-radius: 0px 0px 15px 0px;
}

.categoriasCurso li {
    display: flex;
    align-items: center;
    background: transparent;
    border-radius: 50em;
    margin: 0px 10px 10px 10px;
    padding: 5px 30px 5px 0px;
    list-style: none;
}

.categoriasCurso li:hover {
    cursor: pointer;
    background-color: #23252d;
}

.cardsCursos {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #03050D;
    border-radius: 15px;
    border: 1px solid #292C35;
    margin: 10px 10px;
    overflow: hidden;
    position: relative;
}

.card {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 0px 15px;
    padding-top: 90px;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: auto;
    height: calc(100vh - 150px);
    align-items: flex-start;
}

.nome-pagina {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 35px;
    position: absolute;
    width: 100%;
    height: 70px;
    justify-content: center;
    background-color: #03050dbd;
    backdrop-filter: saturate(180%) blur(30px);
    border-bottom: 1px solid #292C35;
    position: absolute;
    z-index: 1000;
}

.cursos-mobile {
    display: none;
}

@media (max-width: 840px) {
    .cursos-mobile {
        display: block;
    }

    .categoriasCurso {
        display: none;
    }

    .Cursos {
        flex-direction: column;
    }

    .card {
        height: calc(100vh - 170px);
    }
}