.Cursos {
    display: flex;
    background: #191919;
    gap: 10px;
    height: 90.80vh;
    
}

.categoriasCurso {
    overflow-y: auto;
    background-color: #191919;
    padding: 10px 10px;
    height: calc(100vh - 80px);
}

.categoriasCurso li {
    border-radius: 20px;
    background-color: #323232;
    box-shadow: 0 0 1em #242424;
    margin: 0 10px 20px 10px;
    padding: 15px 40px;
    list-style: none;
}

.cardsCursos {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 10px;
    background-color: #323232;
    margin: 10px 10px;
    border-radius: 20px;
    overflow: hidden;
}

.card{
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    height: calc(100vh - 150px);
    align-items: flex-start;
}

.nome-pagina{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.cursos-mobile{
    display: none;
}

@media (max-width: 840px) {
    .cursos-mobile{
        display: block;
    }

    .categoriasCurso{
        display: none;
    }

    .Cursos{
        flex-direction: column;
    }

    .card{
        height: calc(100vh - 170px);
    }
}