.Home{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    align-items: flex-start;
    justify-content: center;
}

.infinity-post-scroll{
    display: flex;
    flex-direction: column;
    flex-basis: 700px;
}

.new-post{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    margin-bottom: 30px;
}

.spotlights{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    flex-basis: 400px;
}

@media (max-width: 575.98px) {
    .Home{
        flex-direction: column;
        align-items: center;
    }

    .spotlights{
        flex-basis: 0;
        margin-bottom: 20px;
    }

    .infinity-post-scroll{
        flex-basis: 0;
    }
}