.Home{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    padding: 0 10px;
}

.Home .infinity-post-scroll{
    display: flex;
    flex-direction: column;
    flex-basis: 700px;
    gap: 20px;
}

.Home .new-post{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    flex: 1;
}

.Home .spotlights{
    display: flex;
    flex-basis: 400px;
}

@media (max-width: 575.98px) {
    .Home{
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .Home .spotlights{
        flex-basis: 0;
        margin-bottom: 20px;
    }

    .Home .new-post{
        width: 100%;
    }

    .Home .spotlights{
        background: #282828;
        padding: 10px;
        border-radius: 15px;
        flex-basis: 300px;
        overflow: auto;
    }
}
