.Moments{
    width: 100%;
    height: calc(100vh - 80px);
}

.Moments .container{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    max-width: 1500px;
    margin: 20px auto;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}

.Moments .for-you{
    flex-basis: 400px;
    height: calc(100vh - 80px);
    overflow-y: auto;
}

.Moments .moments-feed{
    flex-basis: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background: #282828;
    border-radius: 15px;
    overflow: auto;
    gap: 20px;
    height: calc(100vh - 80px);
    overflow-y: auto;
}

/*Modo tela cheia*/
.full-screen-post{
    display: none;
}

.Moments .for-you.fulscreenmode{
    display: none;
}

.Moments .moments-feed.fulscreenmode{
    display: none;
}

.Moments .full-screen-post.fulscreenmode{
    display: flex;
    flex: 1;
    height: 90%;
}

@media (max-width: 575.98px) {
    .Moments{
        height: calc(100vh - 80px);
    }

    .Moments .for-you{
        display: none;
    }

    .Moments .moments-feed{
        flex: 1;
        padding: 0;
        border-radius: 0;
    }

    .Moments .container{
        margin: 0 auto;
    }

    .menu-margin{
        margin-top: 80px;
    }

    .Moments .moments-feed{
        overflow-y: auto;
    }

    /*Modo tela cheia -> não existe*/
    .Moments .full-screen-post{
        display: none !important;
    }

    .Moments .moments-feed.fulscreenmode{
        display: flex;
    }

    .full-screen-post.fulscreenmode{
        display: none;
    }
}