.Perfil .perfilSobrePost ul li {
    list-style: none;
}

.Perfil .profileSubView {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
}

@media (max-width: 910px) {
    .Perfil .perfilSobrePost {
        flex-direction: column-reverse;
    }
}