.Perfil{
    display: flex;
    flex-direction: column;
}

.Perfil .perfilSobrePost ul li {
    list-style: none;
}

.Perfil .profileSubView {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    align-self: center;
    justify-content: flex-start;
    margin-top: 10px;
}

@media (max-width: 910px) {
    .Perfil .perfilSobrePost {
        flex-direction: column-reverse;
    }
}