.structureCenter {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
}

.perfilContainer {
    background-color: #191919;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.perfilHeader {
    max-width: 1340px;
    margin: 10px 10px;
    width: 100%;
    background-color: #282828;
    border-radius: 40px;
}

.perfilCapa {
    max-height: 350px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.perfilCapa img {
    width: 100%;
    max-width: 900px;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 20px 20px;

}

.perfilNomeInteracao {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    max-width: 900px;
    height: 120px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.418);
}

.perfilNomeInteracao h2 {
    margin-right: 200px;
}

.perfilFoto {
    background-color: #969696;
    max-width: 178px;
    max-height: 178px;
    min-width: 178px;
    min-height: 178px;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 50%;
    position: relative;
    top: -110px;
    left: 20px;
}

.buttonsChatConecApad {
    display: flex;
}

.buttonsConecApad button {
    display: flex;
    border: 0;
    width: 120px;
    padding: 4px 20px;
    margin: 10px 20px;
    border-radius: 20px;
    color: #fff;
}

.buttonConectar {
    background-color: #0079FF;
}

.buttonApadrinhar {
    background-color: #FF00FF;
}

.perfilPubMomMap ul {
    display: flex;
    justify-content: flex-start;
   gap: 10px;
    list-style-type: none;
    flex-wrap: wrap;
}

.perfilPubMomMap ul li {
    background-color: #1e1e1e;
    padding: 12px 12px;
    border-radius: 100px;
    
    
}

.perfilConfig {
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
}