.HistoricoPad{
    width: 100%;
}

.HistoricoPad h2{
    text-align: center;
}

.HistoricoPad .ajudas{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: calc(100vh - 300px);
    overflow-y: auto;
    padding: 15px;
}