.ApadrinheCard{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 15px;
    border: 1px solid #FF337E;
    border-radius: 15px;
    background: #282828;
}

.ApadrinheCard .card-image{
    position: relative;
    width: 100%;
    height: 190px;
}

.ApadrinheCard .card-image img{
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 15px;
}

.ApadrinheCard div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ApadrinheCard .card-info p{
    width: 50%;
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

.ApadrinheCard .card-image .CardBackground{
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.ApadrinheCard .card-image .CardMoon{
    position: absolute;
    width: 200px;
    right: -50px;
    left: auto;
    top: -60px;
    object-fit: contain;
}

.ApadrinheCard .card-image .CardPlanet1{
    position: absolute;
    width: 170px;
    object-fit: contain;
    top: -50px;
}

.ApadrinheCard .card-image .CardPlanet2{
    position: absolute;
    width: 150px;
    object-fit: contain;
    left: 100px;
    top: auto;
    bottom: -70px;
}

.ApadrinheCard .card-image .CardRocket{
    position: absolute;
    width: 200px;
    object-fit: contain;
    right: 0;
    left: auto;
    top: auto;
    bottom: -160px;
}

.ApadrinheCard .card-info h3{
    margin-bottom: 7px;
}

.ApadrinheCard .card-btn{
    padding-bottom: 20px;
}

.ApadrinheCard .card-btn button{
    border: none;
    border-radius: 25px;
    width: 30%;
    min-width: 120px;
    padding: 10px 0;
    background: linear-gradient(90deg, #FF337E, #B6157C, #84007A);
    color: white;
    font-weight: 600;
}

.ApadrinheCard .card-btn button:hover{
    cursor: pointer;
    font-weight: 800;
}

@media (max-width: 575.98px) {
    .ApadrinheCard .card-image img:not(:first-child){
        width: 130px;
    }

    .ApadrinheCard .card-image .CardRocket{
        bottom: -30px;
        right: 60px;
    }

    .ApadrinheCard .card-image .CardPlanet2{
        left: 50px;
    }
}

@media (max-width: 445px) {
    .ApadrinheCard .card-image .CardRocket{
        display: none;
    }
}