.MapaCarreira {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.div-edit {
    padding: 9px;
}

.btn-edit-mapa {
    border: none;
    background: #0079FF;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    font-size: 15px;
    transition: .2s;
}

.btn-edit-mapa:hover {
    background: #0058bb;
    cursor: pointer;
    transition: .2s;
}