#selectCobertura {
    background: #191919;
    height: 60px;
    border-radius: 5px;
    width: 200px;
    color: #fff;
}

.selectCoberturaMes {
    color: red;
}

.pagamento-info .status {
    display: flex;
    height: 35px;
    border: 1.5px solid #667BF2;
    width: 100%;
    border-radius: 50px;
    position: relative;
    align-items: center;
    padding-left: 3px;
}

.pagamento-info .status .porcentagemContribuiram{
    width: 50%;
    height: 27px;
    background: #667BF2;
    border-radius: 50px 0 0 50px;
    padding-right: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: end;
}

.porcentagemUsuarioContribuira{
    width: 10%;
    height: 27px;
    background: #D92588;
    border-radius: 0 50px 50px 0;
    padding-right: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: end;
}

.legendaItem{
    display: flex;
    gap: 10px;
    align-items: center;
}

.legendaCor{
    width: 60px;
    height: 12px;
    border-radius: 50px;
}

.azul{
    background: #667BF2;
}

.rosa{
    background: #D92588;
}