.NewPost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex: 1;
    background: #191922;
    border-radius: 15px;
    box-shadow: 0 0 3px #00000050;
    padding: 10px;
}

.NewPost .post-input-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
}

.NewPost .post-input {
    border: 1px solid #96969655;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px 15px;
    width: 100%;
    resize: none;
    color: #fff;
    outline: 0;
}

.NewPost .post-input:hover{
    cursor: pointer;
}

.NewPost .post-profile-pic {
    width: 50px;
    height: 50px;
}

.NewPost .post-actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

.NewPost .btn-actions {
    border: none;
    background: transparent;
    padding: 7px 15px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    border-radius: 15px;
}

.NewPost .btn-actions:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.295);
}

.NewPost .post-btns{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
}

.NewPost .btn-post{
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 3px 5px;
    border-radius: 8px;
    transition: .2s;
}

.NewPost .post-btns .btn-post span{
    color: white;
    font-size: 1.1em;
    font-weight: bold;
}

.NewPost .post-btns .btn-post i{
    color: #add8e6;
    font-size: 20px;
}

.NewPost .post-btns .btn-post:hover{
    background: rgba(103, 103, 103, 0.65);
    transition: .2s;
}