.ParentInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 800px;
    align-items: center;
}

.ParentInfo .personal-info-form{
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
}
