.ButtonTwoFill {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 40px;
    padding: 10px 20px;
    border-radius: 10px;
    background: #2A00BF;
    font-weight: bold;
    color: white;
    font-size: 15px;
    border: 0;
    transition: .25s;
}

.ButtonTwoFill:hover {
    cursor: pointer;
    background: #2A00BF;
    filter: saturate(50%);
    transition: .25s;
}