.Publicacoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.Publicacoes .profile-about {
    flex-basis: 400px;
}

.profile-posts {
    flex: 1;
    min-width: 400px;
    max-width: 600px;
}