.sobrePerfil {
    flex: 1;
    background: #191922;
    border-radius: 15px;
    padding: 25px 20px;
}

.sobrePerfil div:not(:last-child) {
    margin-bottom: 20px;
}

.sobrePerfil h2 {
    line-height: 40px;
}

.iconeCurriculo {
    max-width: 40px;
    margin-right: 10px;
}

.sobrePerfil li {
    margin: 12px 0;
}

.sobrePerfil ul li {
    display: flex;
}