.MomentsPost{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.MomentsPost .user-info{
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;

}

.MomentsPost .post-info{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.MomentsPost .text-bold{
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.MomentsPost .text-secondary{
    font-size: 14px;
    color: #969696;
}

.MomentsPost .post-actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.MomentsPost .btn{
    border: none;
    background: #3D3D3D;
    border-radius: 20px;
    font-weight: 600;
    color: white;
    padding: 7px 20px;
    font-size: 15px;
    transition: background .2s;
}

.MomentsPost .btn:hover{
    background: #5d5d5d;
    transition: background .2s;
    cursor: pointer;
}

.MomentsPost .btn-follow{
    background: #FF00FF;
}

.MomentsPost .btn-follow:hover{
    background: #b700b7;
}

.MomentsPost .post-title{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.MomentsPost .post-title{
    font-size: 15px;
    font-weight: 600;
}

.MomentsPost .post-hashs{
    font-size: 13px;
    color: #adadad;
}

.MomentsPost .post-media{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.MomentsPost .contain-video{
    width: 100%;
    max-width: 400px;
    height: calc(100vh - 260px);
}

.MomentsPost .moments-video{
    width: 100%;
    height: 100%;
    position: relative;
}

.MomentsPost .moments-video video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 7px;
}

.MomentsPost .moments-interactions{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}

.MomentsPost .btn-div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.MomentsPost .btn-div span{
    color: #fff;
    font-size: 13px;
}

.MomentsPost .btn-div button{
    border: none;
    background: #3D3D3D;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
}

.MomentsPost .prev-next-btns{
    margin-bottom: auto;
}

.MomentsPost .prev-next-btns button{
    font-size: 30px;
    color: white;
}

.MomentsPost .btn-div button:hover{
    background: #4d4d4d;
    cursor: pointer;
    transition: .2s;
}

.MomentsPost .btn-icon{
    height: 15px;
}

@media (max-width: 575.98px) {
    .MomentsPost{
        padding: 0;
    }

    .MomentsPost .post-actions{
        display: none;
    }

    .MomentsPost .post-media{
        position: relative;
    }

    .MomentsPost .moments-interactions{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 999;
        align-items: flex-end;
        justify-content: center;
        padding-right: 10px;
    }

    .MomentsPost .btn-div button{
        width: 30px;
        height: 30px;
        background: transparent;
    }

    .MomentsPost .btn-icon{
        height: 20px;
    }

    .MomentsPost .contain-video{
        flex: 1;
        margin: 0 auto;
    }

    .MomentsPost .moments-video video{
        border-radius: 0;
    }

    .MomentsPost .user-info{
        padding: 11px;
    }

    .MomentsPost .contain-video{
        width: 100%;
        max-width: 400px;
        height: calc(100vh - 290px);
    }

    .MomentsPost .prev-next-btns{
        display: none;
    }
}

@media (max-width: 671px) {
    .MomentsPost .post-actions{
        margin-left: auto;
    }
}