/*.cardUsuarioInteracao {
    max-width: 250px;
    width: 100%;
    border: blue;
}

.avatarUsuario img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.buttonsConexoes{
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.backgroundBlack {
    background-color: #191919;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px 0;
}

.cardUsuarioInteracao h2 {
    text-align: center;
    padding: 5px 0;
}

.cardUsuarioInteracao span {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    margin: 0 10px;
}


.CardUsusarioInteracaoIcons {
    background-color: #4B324B;
    border-radius: 100%;
    padding: 15px 17px;
}*/
.card_conexoes {
    padding: 8px;
    flex: 1;
    gap: 10px;
    max-height: 60px;
    display: flex;
    flex-direction: row;
}

.card_conexoes p {
    margin-top: 5px;
    font-size: 14px;
}


.card_conexoes img {
    border-radius: 50%;
    margin-right: 5px;
}

.margin-leftbuttons {
    margin-left: auto;
}

/*.seguir {
    justify-self: flex-end;
    height: 40px;
}*/