.NewPost{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    background: #282828;
    border-radius: 8px;
    padding: 10px;
}

.NewPost .post-input-box{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
}

.NewPost .post-input{
    border: 1px solid #969696;
    background: #282828;
    border-radius: 8px;
    padding: 10px 15px;
    width: 100%;
    resize: none;
    color: #fff;
}

.NewPost .post-input:focus{
    outline: none;
}

.post-profile-pic{
    width: 80px;
    height: 72px;
}

.post-actions{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

.btn-actions{
    border: none;
    background: transparent;
    padding: 7px 15px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    border-radius: 15px;
}

.btn-actions:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.295);
}