.NavPerfil .perfilContainer {
    display: flex;
    justify-content: center;
}

.bg_blur_perfil {
    top: 75px;
    position: absolute;
    margin: 0 auto;
    z-index: 0;
    width: 100%;
    height: 590px;
    object-fit: cover;
}

.NavPerfil .perfilHeader {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background: #03050dee;
    border: 1px solid #1C1E24;
    overflow: hidden;
    backdrop-filter: blur(20px) saturate(180%);
}

.NavPerfil .perfilCapa {
    height: 375px;
    display: flex;
    justify-content: center;
}

.NavPerfil .perfilCapa img {
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 20px 20px;

}

.NavPerfil .perfilNomeInteracao {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-items: flex-start;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.418);
    flex-wrap: wrap;
    gap: 15px;
}

.NavPerfil .perfilFoto {
    display: flex;
    margin-top: -100px;
    width: 170px;
    height: 170px;
}

.NavPerfil .buttonsChatConecApad {
    display: flex;
    margin-left: auto;
    gap: 10px;
    align-self: flex-end;
}

.NavPerfil .buttonsConecApad {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: flex-end;
}

.NavPerfil .buttonsConecApad button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}

.NavPerfil .buttonsChat-box {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.NavPerfil .buttonsChat-box button {
    padding: 7px 30px;
    border: none;
    background: #191919;
    border-radius: 20px;
    transition: .2s;
}

.NavPerfil .buttonsChat-box button:hover {
    cursor: pointer;
    background: #2c2c2c;
    transition: .2s;
}

.NavPerfil .buttonsChat-box button img {
    height: 20px;
}

.NavPerfil .buttonConectar {
    background-color: #0079FF;
}

.NavPerfil .buttonApadrinhar {
    background-color: #FF00FF;
}

.NavPerfil .buttonConectar:hover {
    cursor: pointer;
    background-color: #0060ce;
}

.NavPerfil .buttonApadrinhar:hover {
    cursor: pointer;
    background-color: #c900c9;
}

.NavPerfil .buttonsConecApad img {
    height: 16px;
    margin-right: 8px;
}

.NavPerfil .perfilPubMomMapCfa {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: 100%;
    margin-bottom: 10px;
}

.NavPerfil .perfilPubMomMapCfa ul.perfilPubMomMapCfa {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
}

.NavPerfil .perfilPubMomMapCfa button {
    background-color: transparent;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    border-radius: 20px;
}

.NavPerfil .perfilPubMomMapCfa button:hover {
    background: #1C1E24;
    cursor: pointer;
}

.NavPerfil .perfilPubMomMapCfa li {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.NavPerfil .perfilPubMomMapCfa li .active {
    width: 100%;
    height: 5px;
    background: #FF00FF;
    border-radius: 20px;
}

.NavPerfil .header-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1200px;
}

.NavPerfil .perfilConfig {
    margin-left: auto;
}

.NavPerfil .btn {
    border: none;
    background: #191919;
    color: #969696;
    font-weight: 600;
    border-radius: 20px;
    padding: 10px 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    transition: background .2s;
}

.NavPerfil .btn:hover {
    cursor: pointer;
    background: #2c2c2c;
    transition: background .2s;
}

.NavPerfil .btn-ico {
    height: 17px;
}

.NavPerfil .btn-apadrinhar {
    margin-left: auto;
    background: #FF00FF;
    color: white;
    transition: background .2s;
}

.NavPerfil .userName {
    display: flex;
    flex-basis: 250px;
    flex-direction: column;
    gap: 10px;
}

.NavPerfil .userName h2 {
    font-size: 32px;
    padding: 15px 0px;
}

.NavPerfil .userName button {
    width: 175px;
}

.NavPerfil .btn-editar-perfil {
    border: 1px solid #0079FF;
    background: transparent;
    color: #0079FF;
    font-weight: 700;
    padding: 7px 0;
    font-size: 15px;
    border-radius: 20px;
    transition: .2s;
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
}

.NavPerfil .btn-editar-perfil:hover {
    background: #0079FF;
    color: white;
    cursor: pointer;
    transition: .2s;
}

@media (max-width: 991.98px) {
    .NavPerfil .perfilPubMomMapCfa button {
        font-size: 14px;
        padding: 10px;
    }
}

@media (max-width: 767.98px) {
    .NavPerfil .perfilFoto {
        display: flex;
        margin-top: -70px;
        width: 120px;
        height: 120px;
    }

    .NavPerfil .userName h2 {
        font-size: 20px;
    }
}

@media (max-width: 863px) {
    .NavPerfil .buttonsConecApad {
        flex-direction: row;
    }
}

@media (max-width: 575.98px) {
    .NavPerfil .perfilHeader {
        margin: 0;
        border-radius: 0;
    }

    .NavPerfil .perfilFoto {
        display: flex;
        margin-top: -50px;
        width: 80px;
        height: 80px;
    }

    .NavPerfil .userName h2 {
        font-size: 18px;
    }

    .NavPerfil .buttonsChatConecApad {
        flex-wrap: wrap-reverse;
    }
}