.cardCurso{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background:  #E5E6EB;
    color: #000;
    padding: 15px;
    flex-basis: 320px;
    border-radius: 15px;
}

.containerRosa {
    background-color: #FC9FFF;
    height: 150px;
}

.cadCursoHeader h3{
    font-size: 0.4em;
}