.CursosFavoritos{
    text-align: center;
    width: 100%;
}

.CursosFavoritos .cursos{
    padding: 15px;
    flex: 1;
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    height: calc(100vh - 150px);
    justify-content: center;
    overflow-y: auto;
    align-items: flex-start;
}